/**
 * #.# Footer
 * #.#  Client Custom Styles
 *
 * Footer area styles including layout, typography, and social links.
 */

/* =============================
  # Theme Colours
============================= */

footer{background-color:var(--black);padding:95px 0 75px;position:relative;overflow:hidden}
.footer-logo img{width:100%;height:auto;padding-right: 30px;max-width:745px}
.footer-logo {position: relative; left: -16px;}
.footer-menu-container{}
.footer-menu-container ul{list-style:none;padding:0;margin:0;margin-top: -10px;}
.footer-menu-container ul li{margin-bottom: -2px;}
.footer-menu-container ul li a{color:var(--white);font-size:18px;line-height:40px;border-bottom:1px solid rgba(225,225,225,.0);transition:.2s ease-in-out all}
.footer-menu-container ul li a:hover{color:var(--green);border-bottom:1px solid rgba(0, 188, 138,9);transition:.2s ease-in-out all}
footer p, footer a  {color:var(--white);font-size:18px;line-height:38px;}
footer a:hover{color:var(--green)}
.sub-footer{padding:30px 0}
.footer-menu-legal{list-style:none;padding:0;margin:0}
.footer-menu-legal li{display:inline-block}
.sub-footer p {color:var(--white);font-size:13px;line-height:15px;}
.sub-footer a{border-bottom:1px solid rgba(225,225,225,.15);transition:.2s ease-in-out all}
.sub-footer a:hover{border-bottom:1px solid rgba(225,225,225,9);transition:.2s ease-in-out all}
.footer-email {padding-bottom:38px;margin-top: -9px;}
.footer-email a{border-bottom:1px solid rgba(225,225,225,.0);transition:.2s ease-in-out all}
.footer-email a:hover{color:var(--green);border-bottom:1px solid rgba(0, 188, 138,9);transition:.2s ease-in-out all}

/* =============================
  # Subfooter
============================= */