/**
 * #.# Banner Module
 *
 * Styles for template-part/modules/banner_module.php
**/
.banner_module{max-height:500px;height:100svh}

@media (max-width: 1536px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {
.banner_module {max-height: 300px;}
}

@media (max-width: 768px) {
  .banner_module {max-height: 250px;}
}

@media (max-width: 600px) {

}