/**
 * #.# Booking Embeds Module
 *
 * Styles for template-part/modules/booking_embeds_module.php
**/
.booking_embeds_module {}
 /* Full width, full height (viewport) */
.booking-frame {
  position: relative;
  width: 100%;
  height: 100dvh; /* better on mobile than 100vh */
}
.ibe {max-width:100%!important;width:100%!important}

@media (max-width: 1536px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}