/**
 * #.# Contact Form Module
 *
 * Styles for template-part/modules/contact_form_module.php
**/

.contact_form_module{}
.contact-form-block{background:url(../../../img/contactform-bg.jpg) center center / cover no-repeat;padding:60px 120px;position: relative;}
.contact-form-block h2{color:var(--offwhite);text-align:center;padding-bottom:50px;position: relative;}
.contact-form-block .wpcf7-form {position: relative;}
.openinghours-h2{padding-top:20px}
.contact-form-block.content-block p{padding-bottom:0}
.contact-form-details p,.contact-form-details span{color:var(--offwhite);font-size:16px;line-height:100%}
.contact-form-block .form-control{padding:18px 25px;font-size:18px;font-weight:var(--medium);line-height:26px;color:#17243E;background-color:#fff;border:1px solid transparent;margin-bottom:10px}
.contact-form-block textarea.form-control{height:148px;margin-bottom:20px}
.contact-form-block input[type="checkbox"]{appearance:none;position:relative;width:14px;height:14px;border:0 solid;line-height:1;background:var(--offwhite);margin-right:10px;top:2px}
.contact-form-block input[type="checkbox"]::before{position:absolute;width:100%;height:100%;text-align:center;white-space:pre;content:" "}
.contact-form-block input[type="checkbox"]:checked::before{content:"";background:var(--orange)}
.contact-form-block .mc4wp-checkbox span::before,.contact-form-block .mc4wp-checkbox span::after{content:" "}
.contact-form-block .form-control.wpcf7-not-valid{border-color:var(--orange)}
.contact-form-block .wpcf7-not-valid-tip{color:#fff}
.contact-form-block .wpcf7-list-item{display:inline-block;margin:0 0 15px}
.contact-form-block .cta-btn{background-color:var(--black);color:var(--offwhite);padding:10px;border-radius:8px;text-decoration:none;display:block;margin:30px auto 0}
.contact-form-block .cta-btn:hover{background-color:var(--orange);color:var(--black)}
.contact-form-block .cta-btn:focus-visible,.contact-form-block .form-control:focus-visible{outline:2px solid var(--orange);outline-offset:2px}
.contact_form_module .googlemap{margin-top:85px}

.col-lg-6.padding-over {padding-left: 100px;}


.darken-form {background: linear-gradient(180deg, rgba(23,36,62,1) 0%, rgba(0,0,0,1) 100%);
  opacity: .55;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;}

@media (max-width: 1536px) {
  .contact-form-block { padding: 60px 70px;}
}

@media (max-width: 1366px) {
  .col-lg-6.padding-over {padding-left: 50px;}
}

@media (max-width: 1280px) {
  .contact-form-block {padding: 40px 40px;}
}

@media (max-width: 992px) {
  .col-lg-6.padding-over {padding-left: calc(var(--bs-gutter-x)*.5);padding-top:50px}
  .contact_form_module .googlemap{margin-top:50px}
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}