/**
 * #.# Content Introduction Module
 *
 * Styles for template-part/modules/content_introduction_module.php
**/
.content_introduction_module {padding:70px 0px 95px;background-image:url(../../../img/content-introduction-module-bg.jpg);
background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position: relative;overflow: visible;}

.content_introduction_module::before {content:"";width:296px;height:488px;background-image:url(../../../img/content-intro-left.png);
background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position: absolute;top: 0px;
  left: 0px;}

.content_introduction_module::after{content:"";width:291px;height:583px;background-image:url(../../../img/content-intro-right.png);
background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position: absolute;top:0px;right:0px}

.content_introduction_module .content-block h2 {padding-bottom: 20px;}

.single-cta,
.two-ctas {margin-top:20px}


.featured-gateway {padding-top:40px}
.featured-gateway-item {aspect-ratio: 16 / 12;position: relative;height:100%}
.featured-gateway-item  h3, .featured-gateway-item  p {color:var(--offwhite)}
.featured-gateway-item  p {font-size:22px;padding-bottom:0px}
.darken-hover{padding:20px;background-color:rgba(23, 36, 62, 0.9);position: absolute;bottom:0px;width:100%;transition: all ease-in-out 0.2s;top: 75%;}
.featured-content {position: absolute;bottom: 0px;width: 100%;padding: 20px 20px 20px;}

.gateway-hidden {padding:40px;position: absolute;top:50px;width:100%;opacity:0;transition: all ease-in-out 0.5s;}

.featured-gateway-item:hover .darken-hover{bottom:0px;height:100%;transition: all ease-in-out 0.2s;top:0%}
.featured-gateway-item:hover .gateway-hidden {opacity:1}
.full-image {position: absolute; top: 0px; bottom: 0px; height: 100%;display:none}
.full-image-left {left:0px}
.full-image-right {right:0px}
.full-image img {object-fit:cover;height: 100%}

.event-content-block .content-block {width:85%}


.featured-gateway .slick-prev, 
.featured-gateway .slick-next {top: calc(50% - 0%);}
.featured-gateway .slick-prev {background-image: url(../../../img/slick-left-dark.svg);}
.featured-gateway .slick-next {background-image: url(../../../img/slick-right-dark.svg);}


@media (max-width: 1890px) {
  .gateway-hidden {top: 0px;}
  .featured-content p {font-size: 19px;}
  .featured-content {padding: 15px 20px 15px;}
}

@media (max-width: 1650px) {
  .featured-content p {display:none}
  .gateway-hidden p {font-size: 19px;}
  .darken-hover {top: 80%;}
}

@media (max-width: 1536px) {
  .gateway-hidden {padding: 20px 40px;}
}

@media (max-width: 1400px) {
  .content_introduction_module::before {width: 246px;height: 428px;}
  .content_introduction_module::after {width: 241px;height: 523px;}
  .gateway-hidden p {font-size: 18px;}
  .featured-gateway-item {aspect-ratio: 16 / 14;}
}



@media (max-width: 1280px) {
  .content_introduction_module::before {width: 196px;height: 328px;}
  .content_introduction_module::after {width: 191px;height: 383px;}
}
@media (max-width: 1200px) {
  .margin-for-1200{padding-top:30px}
  .gateway-hidden {padding:40px;}
  .gateway-hidden p {font-size: 20px;}
  .featured-content p {display: block;}
  .featured-content {padding: 20px 20px 20px}
}

@media (max-width: 1080px) {
  .darken-hover {top: 75%;}

}

@media (max-width: 992px) {
  .content_introduction_module .content-block {padding: 0px 80px;}
  .featured-content p,
  .gateway-hidden p  {font-size: 16px;}
}

@media (max-width: 768px) {
  .content_introduction_module .content-block {padding: 0px 20px;}
  .content_introduction_module::before {width: 106px;  height: 178px;}
  .content_introduction_module::after {width: 101px; height: 203px;}
  .content_introduction_module {padding: 40px 0px 55px;}
  .featured-gateway {padding-top: 20px;}
  .event-details-block .content-block {padding-bottom:25px}
  .event-content-block .content-block {width:100%;padding-bottom:50px}
}

@media (max-width: 600px) {

}