/**
 * #.# Event Listings Module
 *
 * Styles for template-part/modules/event_listings_module.php
**/
.event_listings_module {padding: 80px 0 0px;}

.event-item {height:100%;background-color:var(--darkgreen);transition:var(--transition)}
.event-item:hover {background-color: var(--orange);}
.event-listings-banner {aspect-ratio: 16 / 9; padding: 20px;}

.whats-on-list {list-style: none;padding-left: 0px;}
.whats-on-list li {opacity:1!important;display:inline-block;margin:5px;background-color:var(--blue);padding:10px 20px;color:var(--offwhite);text-transform:uppercase;font-size:16px;line-height:100%;border-radius:16px}

.event-listing-content  {padding:40px;}
.event-listing-content h3 {color:var(--offwhite);padding-bottom:20px}
.event-listing-content p {color:var(--offwhite)}

.event-date p,
.event-time p{color:var(--offwhite);font-size:20px;line-height:30px;padding-bottom:0px}

.event-border-line {margin:15px auto 10px;width:70%;height:1px;background-color:var(--offwhite);display:inline-block}

#search-filter-results-547 .col-xl-4 {margin-bottom:50px}

.search-filter-block {padding:50px 0px}
.searchandfilter label {font-size: 20px; line-height: 26px;text-transform: uppercase;color:#222222;font-weight:var(--semi);border-bottom:1px solid transparent;transition:var(--transition);padding-left: 0px!important;}
.searchandfilter ul li {display: inline-block;margin:0px 22px 0px 11px}

.sf-option-active label{border-bottom:1px solid #222222;transition:var(--transition)}
.searchandfilter label:hover{border-bottom:1px solid #222222;transition:var(--transition)}
.searchandfilter .sf-input-radio {opacity:0}

.sf-field-taxonomy-whats-on {position: relative;}
.sf-field-taxonomy-whats-on::before {content:"Filter:";position: absolute;left:-60px;font-size: 20px; line-height: 26px;text-transform: uppercase;color:#222222;font-weight:var(--semi);top:15px}

@media (max-width: 1536px) {
.event-listings-banner {aspect-ratio: 16 /10;}
}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {
  .event-listings-banner {aspect-ratio: 16 / 11;}
  .whats-on-list li {margin: 3px;padding: 10px 15px; font-size: 13px;}
  .searchandfilter ul {padding-left:8px}
  .sf-field-taxonomy-whats-on::before {left: 7px;top: -15px;}
  .searchandfilter ul li {margin: 0px 20px 0px -15px;}
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}