/**
 * #.# Event Details Module
 *
 * Styles for template-part/modules/event_details_module.php
**/
.event_details_module {
  padding: 60px 0 60px;
}

.event-details-block {padding:30px;background-color:var(--darkgreen);font-size:20px;line-height:100%;color:var(--offwhite)}
.event-details-block h3,
.event-details-block p {color:var(--offwhite);line-height:26px;padding-bottom:0px}
.event-details-block h3 {font-size:20px;line-height:100%;}

.event-content-block {padding-top:60px}

.event-download {
  text-align: right;
}
.event-download a {
  font-size: 18px;
  line-height: 100%;
  position: relative;
  padding: 10px 0 4px;
  display: inline-block;
  margin-right: 30px;
  border-bottom: 1px solid rgba(35,31,32,.15);
  transition: .2s ease-in-out all;
}
.event-download a:hover {
  border-bottom: 1px solid rgba(35,31,32,9);
  transition: .2s ease-in-out all;
}
.event-download a::after {
  content: "";
  background-image: url(../../../img/download.svg);
  position: absolute;
  right: -30px;
  width: 17px;
  height: 25.5px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 9px;
}
@media (max-width: 1536px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}