/**
 * #.# Google Reviews Module
 *
 * Styles for template-part/modules/google_reviews_module.php
**/
.google_reviews_module {padding: 0px 0px 60px;}
.google_reviews_module .image-block {position: relative;top:-100px;right:-50px;}



@media (max-width: 1536px) {

}

@media (max-width: 1366px) {
.google_reviews_module .image-block {top: -10px;}
}

@media (max-width: 1280px) {

}
@media (max-width: 1200px) {
.google_reviews_module .image-block {display:none}
}
@media (max-width: 992px) {
  .google_reviews_module {padding: 20px 0px 60px;}

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}

