/**
 * Home Banner Module
 *
 * Styles for template-parts/modules/home_banner_module.php
**/

.home-banner-module {
  position: relative;
  overflow: hidden;
}

.home-banner-module .banner-video-wrap,
.home-banner-module .banner-image-wrap {
  position: absolute;
  inset: 0;
}

.home-banner-module .banner-video-wrap video,
.home-banner-module .banner-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-banner-module .banner-content-wrap {
  position: relative;
  z-index: 2;
}

.home-banner-module .banner-logo img {
  max-width: 200px;
  height: auto;
}

.home-banner-module .banner-content {
}


@media (max-width: 1536px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

  .home-banner-module .banner-logo img {
    max-width: 150px;
  }

}

@media (max-width: 600px) {

}
