/**
 * #.# Opening Hours Module
 *
 * Styles for template-part/modules/opening_hours_module.php
**/
.opening_hours_module {padding: 90px 0px;}
.opening-hours .content-block p strong {font-size:22px}
.opening-hours .btn {margin: 15px 20px 30px 20px;}
.open-hours-listings p {padding:25px 0px 25px}

.additional-content {padding-top:0px}
.additional-content p, 
.additional-content p a {font-weight:var(--bold);font-size:24px;line-height:100%}
.additional-content p a:hover,
.additional-content p a:focus {}

.googlemap {margin-top:10px}

@media (max-width: 1536px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 992px) {
  .opening_hours_module {padding: 40px 0px;}
  .opening-hours .btn {margin: 15px 20px 10px 20px;}
  .open-hours-listings p {padding: 0px 0px 25px;}
  .additional-content {padding-top: 30px;padding-bottom: 40px;}
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}
