/**
 * #.# Room Listings Module
 *
 * Styles for template-part/modules/room_listings_module.php
**/
.room_listings_module {}
.show-flourish {background-image:url(../../../img/room-listings.jpg);
background-position:center top;background-repeat:no-repeat;background-size:contain;padding-top: 140px;background-color:#fff}

.room-listing-item {}
.room-listing-header {padding: 60px;}
.room-listing-header .image-block {border:1px solid var(--offwhite)}

.room-listing-content {padding: 40px 60px 50px 60px;}




.room-listing-content.room-scheme-cramwell-cottage h3 {color:var(--offwhite)}
.room-listing-content.room-scheme-cramwell-cottage p.sub-title {color:var(--offwhite)}
.room-listing-content.room-scheme-cramwell-cottage p {color:var(--offwhite)}
.room-listing-content .room-btn {color:var(--offwhite);}
.room-listing-content .room-btn:hover {border:0}
.availabilty-link {font-weight:var(--semi);font-size:18px;line-height:100%;color:var(--black);text-transform: uppercase;margin-left: 30px;}

.room-listing-content.room-scheme-cramwell-cottage .availabilty-link {color:var(--offwhite);border-bottom: 1px solid rgba(225,225,225,.15);
  transition: 0.2s ease-in-out all;}
.room-listing-content.room-scheme-cramwell-cottage .availabilty-link:hover {border-bottom: 1px solid rgba(225,225,225,9);
  transition: 0.2s ease-in-out all;}



.room-listings .col-lg-6 {margin-bottom:50px}

.room-scheme-beatrice {background-color:var(--beatrice)}
.room-scheme-daisy {background-color:var(--daisy)}
.room-scheme-mary {background-color:var(--mary)}
.room-scheme-henrietta {background-color:var(--henrietta)}
.room-scheme-dorothy {background-color:var(--dorothy)}
.room-scheme-majorie {background-color:var(--majorie)}
.room-scheme-violet {background-color:var(--violet)}

.room-scheme-cramwell-cottage {background-color:var(--cramwell)}
.room-scheme-two-mill-cottage {background-color:var(--twomill)}

.room-scheme-beatrice .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #BE7246 0%, #C88965 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-daisy .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #4F583A 0%, #787E6B 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-mary .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #75645F 0%, #91807C 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-henrietta .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #777533 0%, #989652 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-dorothy .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #7D4B37 0%, #946251 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-majorie .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #7D4B37 0%, #946251 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-violet .room-btn {background: transparent radial-gradient(closest-side at 67% 36%, #4F583A 0%, #787E6B 100%) 0% 0% no-repeat padding-box;border:0}

.room-scheme-cramwell-cottage .room-btn {background: #9B5817;border:0;
background: radial-gradient(circle, rgba(155, 88, 23, 1) 0%, rgba(94, 46, 3, 1) 100%);}
.room-scheme-two-mill-cottage .room-btn {background: #DFBD69;border:0;
background: radial-gradient(circle,rgba(223, 189, 105, 1) 0%, rgba(148, 113, 53, 1) 100%);}

@media (max-width: 1536px) {

}

@media (max-width: 1366px) {
  .room-listing-content .room-btn {width: 100%;margin-bottom:25px}
  .availabilty-link {margin-left: 0px;text-align: center;}
  .show-flourish {padding-top: 100px;}
}

@media (max-width: 1280px) {
  .room-listing-content {padding: 30px 40px 40px 40px;}
  .room-listing-header {padding: 40px;}
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .show-flourish {padding-top: 40px;}
  .room-listing-header {padding: 20px;}
  .room-listing-content { padding: 20px 20px 30px 20px; }
  .room-listings .col-lg-6 {margin-bottom: 30px;}
}

@media (max-width: 600px) {

}