/**
 * #.# Vacancies Module
 *
 * Styles for template-part/modules/vacancies_module.php
**/
.vacancies_module {}
.vacancies_module .content-grid {background-color:var(--blue);background-image:url(../../../img/vacancy-bg.png);background-position:center bottom;background-repeat:no-repeat;background-size:contain;height:100%;padding:50px 50px 120px}
.vacancies_module .col-lg-6 {margin-bottom:15px}
.vacancies_module .content-grid .content-block *{color:var(--offwhite)}
.content-grid h3 {padding-bottom:30px}

.top-section-block{padding-bottom:50px}


@media (max-width: 768px) {
  .vacancies_module .content-grid {padding: 40px 20px 90px;}
  .top-section-block {padding-bottom: 20px;}
}